<!doctype html>
<head>
	<title>Submit stuff for the Spring show</title>
	
	<meta charset="utf-8">
	<meta name="description" content="My Parse App">
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/styles.css">
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
	<script src="resig-template.js"></script>
	
	

</head>

<body>
	
	<div id="results"></div>
	<div id="a"></div>
	<div id="b"></div>
	
<script type="text/html" id="item_tmpl">
	<div id="<%=id%>" class="<%=(i % 2 == 1 ? " even" : "")%>">
		<div class="grid_1 alpha right">
			<img class="righted" src="<%=profile_image_url%>"/>
		</div>
		<div class="grid_6 omega contents">
			<p><b><a href="/<%=from_user%>"><%=from_user%></a>:</b> <%=text%></p>
		</div>
	</div>
</script>

<script type="text/html" id="user_tmpl">
	<% for ( var i = 0; i < users.length; i++ ) { %>
		<li><a href="<%=users[i].url%>"><%=users[i].name%></a></li>
	<% } %>
</script>

<script type="text/html" id="post_tmpl">
	<div data-id="<%=id%>">
		<p><%=comment%></p>
		<p><%=name%></p>
		<a href="<%=url%>">
		<img src="<%=src%>">
		</a>
		<div>
			
		</div>
	</div>
</script>


<script>
	var results = document.getElementById("results");
	results.innerHTML = tmpl("item_tmpl", {from_user:"Joe", text:"This is text", i:33, id:"1234", profile_image_url:"ABCDEF", users:["A","B","C"]});
	
	var a = document.getElementById("a");
	a.innerHTML = tmpl("user_tmpl", {users:[{url:"AAA", name:"A"},{url:"BBB", name:"B"}]});
	
	var b = document.getElementById("b");
	var obj = {
		id:"1234",
		comment:"Comment text",
		name:"Joe Handsen",
		url:"http://...",
		src:"imageurl..."
	}
	b.innerHTML = tmpl("post_tmpl", obj);

</script>

</body>
</html>
